@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


$white: white;
$primary: #6a70a1;
$secondary: #7dbf4a;
$primary-dark: #253303;
$grey: #F1F1F1;
$black:black;
$blue: #6a70a1;
$blue-clear: #3b5998;
$grey-dark: #6F6F6F;
$grey-light: #F6F6F6;
$border: rgb(235, 223, 223);
$red: #cb2027;
$purple: #7954CB;
$secondary: #590925;
$white: white;
$grey: #4c4d4d;
$black: black;
$dark: #111418;
$cyan: aliceblue;


html, body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin btn($color: $white, $bg: $blue, $bc: $blue){
    color: $color;
    background-color: $bg;
    border: 3px solid;
    border-color: $bc;
    cursor: pointer;
    font-weight: bold;
    min-width: 100px;

}

@mixin content() {
    @include flex();
    width: 80%;
}

@mixin share-btn(){
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: table;
    margin: 5px;
}


h1 {
    display: inline;
    position: relative;
    span{
        font-size: 0.7em;
        top: 11px;
    }
}

h2, h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: $grey-dark;
    font-weight: bold;
}

i{
    color: $blue;
    margin: 5px;
    cursor: pointer;
}

img{
    border-radius: 5px;
}

.navbar{

}

.nav{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
}
.close{
    text-align: center;
    margin: auto;
    cursor: pointer;

    i{
        font-size: 2em;
        text-align: center;
        cursor: pointer;
        color: $blue;
    }

    i:hover{
        color: $primary;
    }
}

.text{
    font-weight: 500;
}

.text-center{
    margin: auto;
}


.text-blue{
    color: $blue-clear;
}

.fw-bold{
    font-weight: bold;
    margin: 15px auto;
}

.location{
    margin: 10px auto;
    i{
        font-size: 1.1em;
        color: $blue;
    }
}

.share-btn i{
        font-size: 1.5em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: $white;
    }


.required{
    color: red;
    font-weight: bold;
}

.box{
    @include flex();
    margin: 20px auto ;
    border: none;

    &__img{
        overflow: hidden;
        img{
            width: 275px;
            height: 180px;
            margin: 15px auto;
        }

        p{
            margin: 15px auto;
            font-style: italic;

        span{
            color: $grey;
        }
        }
    }

    &__infos{
    @include flex(column);
        flex: 1;
        text-align: left;
        margin-left: 10px;

        h2{
            text-align: left;
            font-size: 1.8em;
            color: $blue;
        }

            span{
                color: $grey;
                font-size: 1em;
            font-weight: 400;
            font-style: italic;
            }

            .price{
                color: $blue;
                font-style: italic;
                font-size: 1.2em;
            }
        .icons{
            width: auto;
            @include flex();
            justify-content: start;

            .icon{
                margin: 5px;
                background-color: $grey-light;
                height: 25px;

                i{
                    color: $grey-dark;
                }

            }
        }

        .btn{
           width: 110px;
        }
    }
}

.table{
	width: 100%;
	border-collapse: collapse;
	margin: auto 0;
	font-family: sans-serif;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: $blue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.table td i{
    color: $grey-dark;
}


.table td i:hover{
    color: $blue;
}

/*responsive*/
@media(max-width: 500px){
    .table{
        width: 100%;
        display: none;
    }
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}


    .table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


.dashboard{
    &__menu{
        .menu{
            width: 100%;
            background-color: $grey-dark;
            height: 75vh;
            min-height: 75vh;
            overflow: hidden;
            text-align: center;
            @include flex(column);
            justify-content: start;
            color: $white;
            &__items{
                display: block;

                &__item{
                    margin: 10px auto;
                }

                .activee{
                    background-color: $primary;
                }

                .activee:hover{
                    background-color: $white;
                    color: $primary;
                }

            }

            &__mobile{
                display: none;

                &__show,
                &__close{
                    text-align: center;

                    i{
                        color: $white;
                        font-weight: bold;
                    }

                    i:hover{
                        color: $primary;
                    }
                }

                &__list{
                }

            }

        }

    }

    &__content{
        display: block;

        h1{
            font-size: 2em;
        }
        .buttons{
            @include flex();
            width: 80%;
            .btn{
                margin: 5px;
            }
        }
    }
}

.btn{
   @include btn();
}

.btn-link{
    width: 200px;
    text-decoration: none;
}

.btn-link:hover{
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
}

.btn-grey{
   @include btn();
}

.btn-white{
    @include btn($white, $blue, $blue);
}


.btn-grey:hover{
    background-color: $blue;
    color: $white;
}

.table-img{
    width: 90px;
    height: 50px;
    margin: auto;
}


.action{}

.btn-primary{
   @include btn();

   a{
    color: $white;
   }
}

.btn-primary:hover{
   @include btn($primary, $white, $primary);

   a{
    color: $primary;
   }
}

a{
    color: $black;
    text-decoration: none;
}

a:hover{
color: $blue;
text-decoration: none;
font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}

li{
    list-style: none;
}

.btn:hover{
}

span{
    color: $blue;
    font-weight: bold;
    font-style: italic;
}

.up{
    background-color: $blue;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    float: right;

    i{
        color: $white;
        font-size: bold;
    }
}

.up:hover{
    background-color: $primary;
}

.bi-x{
    font-weight: bold;
    cursor: pointer;
}

.bi-x:hover{
    font-weight: bolder;
}

.slider-img{
    height: 400px;
    margin: auto;
    width: 80%;
}


h1{
     span{
        font-size: 0.7em;
        margin-right: 10px;
     }

     strong{
        font-size: 0.7em;
     }
}


h3{
    text-align: left;
    color: $primary;
}
h4{
    color: $primary;
    text-align: left;
}

h1.title{
    color: $primary;
    margin: auto auto 8px auto;
}
.subtitle{
    color: $primary;
}

.main{
    display: block;
    margin: 0px auto;
    padding-top: 50px;
        .content{
            display: block;
            width: 100%;

            .hero{
                height: 85vh;
                margin: 0 auto;
                z-index: -9999;
                display: block;
                background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)),
                url('/img/bureau2.jpg');
               background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                padding-bottom: 15px;
                width: 100%;
                padding-top: 50px;


                &__content{
                    width: 80%;
                    margin: auto;
                    height: 100%;
                    padding-top: 110px;
                    text-align: center;

                    h1{
                        font-size: 3em;
                        font-style: italic;
                        color: $white;
                    }

                    p{
                        margin: 40px auto;
                        font-style: 1.1em;
                        font-weight: 800;

                    }
                }

            }

            .section{
                width: 100%;
                margin: 15px auto;

            .container{
                   .search{
                    width: 70%;
                    height: 45px;
                    @include flex();
                    justify-content: baseline;
                    margin: 5px auto;

                        .search__item{
                            flex: 1;
                            margin: 0;
                            label{
                                flex: 1;
                                height: 100%;

                                select{
                                    height: 100%;
                                    width: 100%;
                                }

                                button{
                                    width: 100%;
                                    height: 100%;
                                    background-color: $primary;
                                    color: $white;
                                    border: none;
                                }

                                button:hover{
                                    background-color: $primary-dark;
                                }
                            }
                        }

                   }

                        .app{
                            width: 100%;
                        @include flex(column);
                        text-align: center;
                        margin: 20px auto 0 auto;

                            &__content{
                                @include flex(column);
                                margin: 20px auto;
                                width: 100%;

                                h2{
                                    color: $purple;
                                }
                                p{
                                    margin: 20px auto 0 auto;
                                    width: 80%;
                                }

                            &__items{
                                @include flex();
                                margin: 20px auto;
                                width: 100%;
                                .item{
                                    height: auto;
                                    width: 270px;
                                    border: 2px $purple;
                                    border-radius: 15px;
                                    margin: 15px auto;
                                    box-shadow: 0px 5px 28px #00000029;


                                    .icon{
                                        text-align: center;
                                        margin: 30px auto;
                                        i{
                                            font-size: 2em;
                                            color: $purple;
                                            font-weight: bold;

                                        }
                                    }

                                    h3{
                                        font-size: 1.2em;
                                        width: 90%;
                                        margin: auto;
                                    }

                                    p{
                                        line-height: 1.6em
                                    }

                                    .text{
                                        width: 90%;
                                        margin: auto;
                                    }

                                }
                            }
                            }

                        }

                        .grey{
                            &__content{
                                @include flex();
                                &__image{
                                    width: 350px;
                                    height: 350px;
                                    text-align: center;
                                    flex: 1;

                                    img{
                                        width: 100%;
                                        height: 100%;
                                        margin: 20px auto;
                                    }
                                }

                                &__text{
                                    flex: 1;
                                width: 100%;
                                padding-top: 5px;
                                    margin: auto 30px;
                                    text-align: center;

                                    h2{
                                        margin: 20px auto;
                                    }

                                    .text{
                                        margin: 15px auto;
                                    line-height: 1.7em;
                                    text-align: left;
                                    }

                                }
                            }

                        }

                        .about{
                            &__image{
                                img{
                                    width: 90%;
                                    height: auto;
                                }
                            }

                            &__text{

                            }
                        }

                        .faq{
                            margin: 10px auto 0 auto;
                            padding-bottom: 0;

                            &__content{
                                margin: 30px auto;
                                @include flex(column);

                                h2{

                                }

                                .accordion{
                                    .card{
                                        border-radius: 15px;
                                        width: 80%;
                                        background-color: $cyan;
                                        margin: 10px auto;
                                    }
                                }
                            }
                        }

                        .updates{
                            height: auto;
                            padding-bottom: 30px;
                            display: block;
                            margin: 0px auto;
                            &__content{
                                @include flex(column);
                                p{
                                    margin: 20px auto;
                                }

                                &__articles{
                                    @include flex();
                                    width: 100%;

                                    .article{
                                        width: 300px;
                                        min-width: 330px;
                                        height: auto;
                                        margin: 10px auto;
                                        box-shadow: 0px 5px 28px #00000029;
                                        text-align: center;
                                        padding-bottom: 20px;
                                        border-radius: 10px;

                                        img{
                                            margin: 10px auto 0 auto;
                                            border-radius: 10px;
                                            width: 90%;
                                            height: 240px;
                                        }

                                        h3{
                                            margin: 10px auto 0 auto;
                                        }

                                        .date{
                                            @include flex();
                                            margin: 0 auto;

                                            p{

                                            }

                                            .time{

                                            }
                                        }

                                        p{
                                            text-align: left;
                                            padding-left: 0;
                                            width: 95%;
                                        }

                                        .btn{
                                            font-size: 0.8em;
                                        }
                                    }


                                }
                            }
                        }

                        .contact{
                            margin: 30px auto;

                            &__content{
                                @include content();

                                &__form{
                                    flex: 1;

                                    text-align: left    ;
                                }

                                &__infos{
                                    flex: 1;
                                    text-align: left;
                                    padding-left: 20px;

                                    h2{
                                        margin: 20px auto 10px 0;
                                        color: $purple;
                                        text-align: left;
                                    }

                                    p{
                                        margin: 5px auto;
                                        text-align: left;

                                        i{
                                            color: $purple;
                                        }
                                    }

                                }
                            }
                        }

                .row{
                    .tags{
                        background-color: $white;
                        border: 1px $border solid;
                        margin-bottom: 15px;

                        &__heading{
                            background-color: $grey-light;
                            width: 100%;
                            height: 50px;
                            display: table;

                            .span{
                                margin: auto;
                                color: $grey-dark;
                                font-size: 1.3em;
                                font-weight: 600;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                            }
                        }

                        &__body{
                            .tag{
                                margin: 15px auto;
                            }
                        }

                        &__btn{
                            display: none;
                        }

                        .iframe{
                            width: 200px;
                            height: 200px;
                            text-align: center;
                            margin: auto;

                            iframe{
                                width: 195px;
                                height:195px;
                                margin: auto;
                            }
                        }
                    }

                .list{
                       // background-color: $white;

                        &__heading{
                            background-color: $grey-light;
                            height: 50px;

                            .span{
                                margin: 5px auto;
                                color: $grey-dark;
                                font-size: 1.7em;
                                font-weight: 800;


                            }
                        }

                        .cards{
                            @include flex();
                            .card{
                                margin: auto 5px 10px 5px;
                            }
                        }
                    }

                .item{
                    display: block;

                    &__heading{
                        height: 50px;
                        background-color:$grey;
                        width: 100%;
                        @include flex();

                        h2{
                            color: $blue;
                        }


                        .price{
                            float: right;
                            color: $blue;
                            margin: auto 10px auto auto;
                            text-align: center;
                            font-weight: bold;
                            font-size: 1.8em;
                        }
                    }

                    &__body{
                        display: block;

                        &__img{
                            width: 100%;
                            height: 350px;
                            overflow: hidden;
                            padding: 5px;

                            img{
                                width: 100%;
                                margin: auto;
                            }

                            .images{
                                @include flex();
                                margin: 10px auto;
                                img{
                                    width: 80px;
                                    height: 50px;
                                    margin: auto;
                                }
                            }
                        }

                        &__images{
                            @include flex();
                            justify-content: space-evenly;


                        img{
                            width: 100%;
                            padding: 5px;
                            cursor: pointer;
                            height: 130px;
                            margin: 10px auto;
                        }

                        img:hover{

                        }
                    }

                        &__text{
                            text-align: left;
                            margin: 10px auto;

                        }

                        &__more-infos{
                            h3{

                            }

                            .infos{
                                    @include flex();
                                    justify-content: start;

                                .info{
                                    margin: 5px;

                                    i{
                                        color: $blue;
                                    }

                                    .bi{
                                        margin-top: 10px;
                                        font-weight: bold;
                                    }
                                }
                                }
                            }


                        .share-hovers{
                            width: 220px;
                            float: left;
                                @include flex();

                                    .share-btn{
                                    @include share-btn();
                                    }

                                    .save{
                                        background-color: goldenrod;

                                        .fas{
                                          //  display: none;
                                        }
                                    }

                                    .whatsapp{
                                        background-color: $primary;
                                    }

                                    .facebook{
                                        background-color: $blue-clear;
                                    }

                                    .mail{
                                        background-color: $blue;
                                    }

                                    .save:hover,
                                    .facebook:hover,
                                    .whatsapp:hover,
                                    .mail:hover{
                                        filter: brightness(120%);
                                    }

                                }
                                }
                }

                .ad{
                    &__heading{
                        height: auto;
                        background-color: rgb(170, 163, 216);
                        width: 100%;
                        @include flex();
                        padding: 2px;
                        padding-bottom: 5px;
                        border-radius: 4px;

                        h2{
                            color: $blue;
                        }

                        .price{
                            float: right;
                            color: $blue;
                            margin: auto 10px auto auto;
                            text-align: center;
                            font-weight: bold;
                            font-size: 1.8em;
                        }
                    }
                    &__body{
                        &__img{
                            img{
                                width: 90%;
                                min-width: 300px;
                                height: auto;
                                margin: auto;
                            }
                        }

                        &__images{
                           img{
                            width: 150px;
                            height: auto;
                           }
                        }
                    }
                }
                }


                .agent{
                    margin: auto;

                    &__infos{
                        @include flex();
                        justify-content: start;
                        margin: auto 15px;

                        img{
                            width: 130px;
                            height: 90px;
                        }

                        &__list{
                            margin-left: 10px;
                            display: block;

                            .agent-contact{
                                @include flex();

                                .btn{
                                    height: 45px;
                                }

                                .share-btn{
                                    @include share-btn();

                                    a{
                                        margin: auto;
                                        width: 100%;
                                        height: 100%;
                                        display: table;

                                        i{
                                            display: table-cell;
                                            vertical-align: middle;

                                        }
                                    }

                                }

                                .whatsapp{
                                    background-color: $primary;
                                }

                                .phone{
                                    background-color: $red;
                                }

                                .mail{
                                    background-color: $blue;
                                }

                            }

                        }
                    }


                }

                .contact{

                    &__item{
                        .contact-box{

                            ul{
                                padding-top: 50px;
                                margin-top: 80px;
                            }
                            img{
                                width: 120px;
                                height: 80px;
                            }
                        }
                    }
                }
            }
              }
        }
}


.footer{
    background-color: black;
   .container{
    .h4, p, a {
        color: white;
       }
   }

   .h4{
    font-weight: bold;
   }
}


/*responsive for 768px*/
@media screen and (min-width: 350px) and (max-width: 1024px) {
    .main{
        .content{
            .hero{
                height: 90vh;
                padding-top: 60px;
               }

            .section{
                .container{
                    .contact{
                        &__item{
                            .contact-box{
                                img{
                                    width: 120px;
                                    height: 80px;
                                }
                            }
                        }
                    }

                    .row{
                        .list{
                            .box{
                                flex-direction: column;
                                margin: 5px auto;
                                padding-top: 5px;

                                &__img{
                                    img{
                                        margin: 10px auto;
                                    }
                                }
                            }
                        }
                    }

                    .grey{
                        text-align: center;
                        &__content{
                            flex-direction: column;

                            &__image{
                                width: 310px;
                                height: 310px;
                                text-align: center;

                                img{
                                    margin: 5px auto;
                                }
                            }

                            &__text{
                                width: 100%;
                                margin: auto;
                                .text{
                                    width: 90%;
                                    margin: auto;
                                }
                            }
                        }
                    }

                    .ad{
                        &__heading{
                            h2{
                                font-size: 1.7em;
                            }

                            .price{
                                font-size: 1.6em;
                            }
                        }
                    }
                }
            }
        }
    }

    .dashboard{
        &__menu{
            .menu{
                height: auto;
                min-height: auto;

                &__items{
                    display: none;
                }

                &__mobile{
                    display: block;

                    &__show{
                        display: block;
                    }

                    &__close{
                        display: none;
                    }

                    &__list{

                    }


                }
            }
        }

        &__content{
            margin-top: 15px;

            .buttons{
               width: 95%;
               margin: auto;
            }

            h1{
                font-size: 1.7em;
            }
        }
    }
}

/*responsive for 767px*//*
@media screen and (min-width: 350px) and (max-width: 767px) {
    .menu{
        display: none;
    }

    .mobile-menu{
        display: block;
    }
    main{
       .content{
        .section{
            .blue{
                height: auto;

                .container{
                    .boxes{
                        flex-direction: column;
                        height: auto;
                        &__box{

                        }
                    }
                }
            }


            .container{
                .contact{
                    &__item{
                        .contact-box{
                            img{
                                width: 120px;
                                height: 80px;
                            }
                        }
                    }
                }

                .hero{
                    padding-bottom: 50px;
                    &__search{
                        height: auto;
                        justify-content: space-between;

                        label{
                            margin: 10px auto;
                        }
                    }
                }
                .blue{
                    .container{
                        .boxes{
                            &__box{
                                height: 400px;
                            }
                        }
                    }
                }

            }
        }

          .slider{
                margin: 50px auto;
            }
       }
    }
}
*/